.Login_Container {
    width: 96%;
    min-height: 70vh;
    margin-inline: auto;
}

.Login {
    margin-top: 4rem;
    width: 30%;
    background-color: var(--background2);
    margin-inline: auto;
    padding: 2rem;
    border-radius: 0.5rem;

    form {
        display: flex;
        flex-direction: column;
    }

    h2 {
        text-align: center;
        color: var(--text);
    }

}

@media only screen and (max-width:800px) {
    .Login {
        width: 50%;
    }
}

@media only screen and (max-width:400px) {
    .Login {
        width: 80%;
    }
}